main {

	& > .feedback {
		position: relative;

		width: 80%;
		margin: 2rem 10%;
		padding: 1rem;
		border-radius: 1rem;

		& > .nerd {
			position: absolute;
			object-fit: cover;
			z-index: -1;
			inset: 0;
			width: 100%;
			height: 100%;
			border-radius: inherit;
			opacity: 0.3;
			filter: saturate(0);
		}

		& > .form {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			& > .user-info {
				display: flex;
				gap: 1rem;
				& > .field {
					width: 50%;
					& * {
						width: 100%;
					}
				}
			}
			& input, textarea {
				background-color: rgba(0, 0, 0, 0.3);
				border: none;
				border-radius: 0.25rem;
				resize: vertical;
				font-size: 1.2rem;
				&:focus {
					outline: 1px solid rgba(255, 255, 255, 0.1);
				}
			}
			& textarea {
				min-height: 10rem;
			}
			& p {
				margin: 0.5rem 0;
			}
			& > .submit {
				width: fit-content;
				padding: 0.5rem;
				background-color: rgba(0, 0, 0, 0.3);
				border: none;
				border-radius: 0.5rem;

				&:hover {
					background-color: rgba(0, 0, 0, 0.5);
				}
			}
		}
	}
}