header {
	--header-margin: 1rem;
	--header-padding: 0.5rem;

	position: fixed;
	z-index: 1;
	width: calc(100vw - var(--header-margin) * 2 - var(--header-padding) * 2);
	top: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;

	height: calc(var(--header-height) - var(--header-margin) * 2 - var(--header-padding) * 2);
	margin: var(--header-margin);
	padding: var(--header-padding);

	border-radius: 0.5rem;
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(0.5rem);
	box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.5);

	& > .logo {
		height: 100%;
		& > img {
			height: 100%;
		}
	}

	& > .navbar {
		display: flex;
		align-items: center;
		gap: 1.5rem;
		& > a {
			text-decoration: none;
			color: white;
			opacity: 0.7;
		}
	}
	& > #authenticate {
		position: relative;
		.authenticated & {
			display: none;
		}
		& > .dropdown {
			position: absolute;
			right: 0;

			top: calc(100% + 0.5rem);

			cursor: auto;
			
			display: flex;
			flex-direction: column;
			
			margin: 0.5rem;
			overflow: hidden;
			border-radius: 0.5rem;

			background-color: rgba(15, 15, 15, 0.9);
			
			&.hidden {
				display: none;
			}
			& > hr {
				margin: 0;
			}
			& > .topbar {
				display: flex;
				
				& > div {
					cursor: pointer;

					transition: all 0.3s;
					width: 100%;
					text-align: center;
					padding: 0.5rem;
					font-size: 1rem;
					
					opacity: 0.5;
					scale: 0.9;
					[data-mode="login"] &.login, [data-mode="register"] &.register {
						opacity: 1;
						scale: 1;
						background-color: rgba(255, 255, 255, 0.1);
					}
				}
			}
			& > .form {
				padding: 0.5rem;
				
				flex-direction: column;
				align-items: center;
				gap: 0.5rem;
				
				display: none;
				[data-mode="login"] &.login, [data-mode="register"] &.register {
					display: flex;
				}

				& p {
					text-align: left;
					padding: 0 0.5rem;
					margin: 0.5rem 0;
					font-size: 1rem;
				}
				& input {
					border: 1px solid rgba(255, 255, 255, 0.3);
					border-radius: 0.5rem;
					padding: 0.5rem;
				}

				& > .err {
					color: red;
					font-size: 0.8rem;
					margin: 0;
					&[disabled] {
						display: none;
					}
				}

				& > .submit {
					margin: 0.5rem auto;
					padding: 0.5rem;

					border: 1px solid rgba(255, 255, 255, 0.3);
					border-radius: 0.5rem;

					cursor: pointer;
				}
			}
		}
	}
	& #authenticated {
		display: none;
	}
	.authenticated & #authenticated {
		display: flex;
		align-items: center;
		gap: 1rem;

		& .divider {
			border-left: 1px solid rgba(255, 255, 255, 0.1);
			height: 2rem;
		}
		
		& .note {
			color: rgba(255, 255, 255, 0.5);
            font-size: 0.8rem;
			width: 0;
			overflow: hidden;
			text-overflow: clip;
			white-space: nowrap;
			transition: all 0.5s ease-in-out;
			text-align: right;
		}

		&:hover {
			& .note {
				width: 12rem;
			}
		}
	}
}